---
layout: page
title: 时间轴
---

{% for post in site.posts %}
	{% unless post.next %}
		<h3 id="{{ post.date | date: '%Y' }}">{{ post.date | date: '%Y' }}</h3>
		<p>
	{% else %}
		{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
		{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
		{% if year != nyear %}
		</p>
		<h3 id="{{ post.date | date: '%Y' }}">{{ post.date | date: '%Y' }}</h3>
		<p>
		{% endif %}
	{% endunless %}
        	<small>{{post.date | date: "%m月%d日"}}</small>&nbsp;&nbsp;
        	<a href="{{ post.url }}">{{ post.title }}</a>
        	<br>
    {% if post.previous.title == null %}
    	</p>
    {% endif %}
{% endfor %}